<div class="relative w-full h-200 overflow-hidden">

    @for (slide of slides; track slide.id; let i = $index) {
    <div class="absolute inset-0 transition-opacity duration-700" [class.opacity-100]="activeIndex() === i"
        [class.opacity-0]="activeIndex() !== i">
        <!-- Background Image -->
        <div class="absolute inset-0 bg-cover bg-center" [style.backgroundImage]="'url(' + slide.bgImage + ')'"></div>

        <!-- Overlay -->
        <div class="absolute inset-0 bg-secondary/70"></div>

        <!-- Content -->
        <div class="relative container lg:mx-30 sm:mx-auto h-full flex items-center z-10 px-4 sm:px-6 xs:px-3">
            <div class="max-w-xl text-white uppercase font-bold">

                <!-- Subtitle -->
                <h5 class="text-[18px] mb-2 text-[#36DB9F] font-medium" data-aos="fade-right" data-aos-delay="0">
                    {{ slide.subTitle }}
                </h5>

                <!-- Title -->
                <h2 class="text-5xl lg:text-6xl sm:text-4xl font-bold mb-4 leading-tight " data-aos="fade-right">
                    {{ slide.title }}
                </h2>

                <!-- Text -->
                <p class="mb-10 capitalize sm:text-lg text-lg font-medium" data-aos="fade-right">
                    {{ slide.text }}
                </p>

                <!-- Button -->
                @if (slide.btnText && slide.btnLink) {
                    <a [href]="slide.btnLink" class="relative inline-block px-8 py-4 font-bold uppercase tracking-widetext-white rounded overflow-hidden group">
                        <!-- Base background -->
                        <span class="absolute inset-0 bg-primary"></span>

                        <!-- Horizontal grow from center -->
                        <span class="absolute inset-0 bg-secondary scale-x-0 origin-center
                                    transition-transform duration-300 ease-out
                                    group-hover:scale-x-100">
                        </span>
                        <!-- Text -->
                        <span class="relative z-10">
                            {{ slide.btnText }}
                        </span>
                    </a>
                }

            </div>
        </div>
    </div>
    }

</div>